---
layout: default
title: useNano
---
<noscript>
	<div class="ui icon error message">
		<i class="warning sign icon"></i>

		<div class="content">
			<h1>It looks like you have JavaScript disabled!</h1>

			<p>
				Without JavaScript, this page probably won't work very well.
				For more information, or if you would like to talk to us about this,
				please take a look at our <a href="https://github.com/tonyynot/usenano">
				GitHub repository</a>.
			</p>
		</div>
	</div>
</noscript>

<header class="masthead text-white text-center" id="top">
	<div class="container"><h1>Join the Nano revolution!</h1>
		<hr class="star-light mb-5">
		<!-- <img class="img-fluid mb-5 d-block mx-auto" src="img/raiblocks.png" alt=""> -->
		<p>USE NANO is connecting merchants and customers who spend and accept Nano as payment. We aim to promote global adoption of Nano, a peer to peer feeless and instant digital currency.</p><p>If you are a merchant accepting Nano as payment and would like to be added to our directory, please fill out the form below.</p>
	</div>

	<div class="text-center mt-4">
		<button class="btn btn-xl btn-outline-dark" data-toggle="modal" data-target="#add">
			<i class="fa fa-plus"></i>
			Submit a new merchant listing
		</button>
	</div>

</header>

<!-- Search Goods & Services -->

<section class="page" id="listing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="text-center text-uppercase text-secondary mb-0">Merchant Directory</h2>
				<hr class="star-dark">
			</div>
		</div>

		<!-- Directory table -->
		<table class="table table-nonfluid table-striped table-hover">
			<thead>
				<tr clas="row text-center">
					<th>Merchant Name</th>
					<th>Category</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				{% for merchants in site.data.merchants %}
				<tr>
					<td>
           {% if merchants.logo == "" %}
           <a href="{{ merchants.websitelink}}">{{ merchants.name }}</a>
           {% else %}
           <a href="{{ merchants.websitelink}}" alt="{{ merchants.name }}"><img src="img/logos/{{ merchants.logo }}"></a>  <a href="{{ merchants.websitelink}}">{{ merchants.name }}</a>
           {% endif %}
         </td>
         <td>{{ merchants.category }}</td>
         <td>{{ merchants.country}}</td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
 </div>
</div>
</div>
</section>

<!-- About Section -->
<section class="bg-secondary text-white mb-0" id="about">
	<div class="container">
		<h2 class="text-center text-uppercase text-white">Get Started</h2>
		<hr class="star-light mb-5">
		<div class="row">
			<div class="col-lg-4 ml-auto">
				<p class="lead">NANO is a feeless, instant and decentralized cryptocurrency and therefore we believe it should be used in commerce.</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">To learn more about NANO, visit the <a class = "link" href="https://www.nano.co"> Official NANO Website</a> and the <a class="link" href="https://www.reddit.com/r/nanocurrency"> NANO Reddit community</a>. </p>
			</div>
		</div>
		<div class="col-sm-12 text-center">
			<p> Want to accept NANO on your own website but don't know how? <br>Check out <a class = "link" href=https://raipay.io/>RaiPay</a>, <a class = "link" href=https://www.getxrb.com/>GetXRB</a> and <a class = "link" href=https://brainblocks.io/>brainblocks</a>!</p>
		</div>
		<div class="text-center mt-4">
			<a class="btn btn-xl btn-outline-light" href="https://nano.org/en/wallet" target="_blank">
				<i class="fa fa-download mr-2"></i>
				Download Nano Wallet
			</a>
		</div>
	</div>
</section>

<!-- Scroll up -->
<div class="scroll-to-top d-lg-none position-fixed ">
	<a class="js-scroll-trigger d-block text-center text-white rounded" href="#top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>

<!-- Donate section -->

{% include modal-map.html %}

{% include modal-addvendor.html %}
