---
layout: default
title: useNano
---
<noscript>
	<div class="ui icon error message">
		<i class="warning sign icon"></i>

		<div class="content">
			<h1>It looks like you have JavaScript disabled!</h1>

			<p>
				Without JavaScript, this page probably won't work very well.
				For more information, or if you would like to talk to us about this,
				please take a look at our <a href="https://github.com/tonyynot/usenano">
				GitHub repository</a>.
			</p>
		</div>
	</div>
</noscript>

<header class="masthead text-white text-center">
	<div class="container">
		<!-- <img class="img-fluid mb-5 d-block mx-auto" src="img/raiblocks.png" alt=""> -->
		<h1 class="text-uppercase mb-0">Use Nano</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Instant, feeless, scalable transactions.</h2>
	</div>
</header>
<!-- Why Nano? -->


<!-- Search Goods & Services -->

<section class="portfolio" id="portfolio">
	<div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">Merchant Directory</h2>

		<hr class="star-dark">

		<div class="row">
			<div class="col-md-12 text-center">
				<p>Listing of goods &amp; services that accept Nano as payments.</p>
				<div class="row">
					<div class="col-sm-6">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
							<i class="fa fa-plus"></i> Add Merchant
						</button>
					</div>
					<div class="col-sm-6">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#map">
							<i class="fa fa-globe"></i> View Map
						</button>
					</div>
				</div>
			</div>
		</div>

			<!-- Directory table -->
			<table class="table">
				<thead>
					<tr>
						<th>Merchant Name</th>
						<th>Category</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					{% for merchants in site.data.merchants %}
					<tr>
						<td><a href="{{ merchants.websitelink}}">{{ merchants.name }}</a></td>
						<td>{{ merchants.category }}</td>
						<td>{{ merchants.country}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
</section>

<!-- About Section -->
<section class="bg-secondary text-white mb-0" id="about">
	<div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
			<div class="col-lg-4 ml-auto">
				<p class="lead">RaiBlocks is a global currency and should therefore be used as one. You can buy RaiBlocks at any of the exchange websites listed below.</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">Don't know what RaiBlocks is? Visit the <a class = "link" href="https://www.raiblocks.net"> Official Raiblocks Website</a> and the <a class="link" href="https://www.reddit.com/r/RaiBlocks"> RaiBlocks Subreddit</a> to learn more about the currency!</p>
			</div>
		</div>
		<div class="col-sm-12 text-center">
			<p> Want to accept RaiBlocks on your own website but don't know how? Check out <a class = "link" href=https://raipay.io/>RaiPay</a>, <a class = "link" href=https://www.getxrb.com/>GetXRB</a> and <a class = "link" href=https://brainblocks.io/>brainblocks</a>!</p>
		</div>
		<div class="text-center mt-4">
			<a class="btn btn-xl btn-outline-light" href="https://nano.org/en/wallet" target="_blank">
				<i class="fa fa-download mr-2"></i>
				Download Nano Wallet
			</a>
		</div>
	</div>
</section>

<!-- Exchanges -->
<section class="portfolio" id="portfolio">
	<div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">Exchanges</h2>

		<hr class="star-dark">

		<div class="row">
			<div class="col-md-12 text-center">

				<a target="_blank" href="https://bitflip.li/trade/XRB-BTC">BitFlip</a>

				<a target="_blank" href="https://www.bit-z.com/trade/xrb_btc">Bit-Z</a>

				<a target="_blank" href="https://www.rightbtc.com/#!/home">RightBTC</a>

				<a target="_blank" href="https://t.me/raiblockstradebot">raiblockstradebot</a>Trade coins on Telegram, XRB/DOGE            
			</div>
		</div>
	</div>
</div>
</section>


<!-- Donate section -->

<!-- Newsletter Section -->

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
	<a class="js-scroll-trigger d-block text-center text-white rounded" href="#mainNav">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>

{% include modal-map.html %}

{% include modal-addvendor.html %}