<section class="portfolio" id="donate">
	<div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">Donate</h2>

		<hr class="star-dark">

		<div class="row">
			<div class="col-sm-12 text-center">
				<p>
				All donations are greatly appreciated and will go towards advancing the usenano.org project through global promotion of the directory, networking merchants and customers across the world. </p>
				<div id='doraime_embed'><a href='https://doraime.com/donate/130' id='doraime_embed_link' class='btn btn-xl btn-outline-dark'>Send Nano</a></div><script type='text/javascript' src='https://doraime.com/donate/130/embed.js'></script>
			</div>
			<!-- Newsletter Section -->

			<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
			<
		</div>
	</div>
</section>