<!-- Footer -->
<footer class="footer text-center" id="contact">

   <!-- Footer main container -->
   <div class="container">
      <div class="row">

         <!-- Social media column -->
         <div class="col-md-6 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Contact Us</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-dark btn-social text-center rounded-circle" href="https://github.com/tonyynot/usenano">
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-dark btn-social text-center rounded-circle" href="mailto:spendnano@gmail.com">
                  <i class="fa fa-fw fa-envelope"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-dark btn-social text-center rounded-circle" href="http://www.twitter.com/usenano">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
            </ul>
            <p class="lead">Spot an issue, or want to add a site?<br>Let us know or contribute directly on <a href="https://github.com/tonyynot/usenano">GitHub.</a></p>
         </div>

         <!-- About useNano column -->
         <div class="col-md-6">
            <h4 class="text-uppercase mb-4">Donate</h4>
            <p class="lead mb-0">All donations are greatly appreciated and will go towards advancing the usenano.org project through global promotion of the directory, networking merchants and customers across the world. </p>
            <div id='doraime_embed'><a href='https://doraime.com/donate/130' id='doraime_embed_link'>Send Nano</a></div><script type='text/javascript' src='https://doraime.com/donate/130/embed.js'></script>
         </div>
      </div>
</footer>

<!-- Copyright -->
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Use Nano 2018</small>
  </div>
</div>