
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/freelancer.min.js"></script>

<!-- Modal -->
<script>
$('#add').on('shown.bs.modal', function () {
  $('#add').focus()
  $('.modal .modal-body').css('overflow-y', 'auto'); 
  $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
})
</script>